/*
.parent {
  border: 1px solid red;

  max-width: 600px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

img {
  max-width: 500px;
}

.child1 {
  background: mediumpurple;
}
.child2 {
  background: peru;
}
*/

.parent {
  border: 1px solid red;

  max-width: 600px;
  display: flex;
  gap: 20px;
}

img {
  max-width: 500px;
}

.child1 {
  background: mediumpurple;
  margin-right: auto;
}
.child2 {
  background: peru;
}
